body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* width */
.project-details-scrollbar::-webkit-scrollbar {
width: 16px;
background-color: transparent;
}

/* Track */
.project-details-scrollbar::-webkit-scrollbar-track {
background: #E8E8E8;
}

/* Handle */
.project-details-scrollbar::-webkit-scrollbar-thumb {
background: #070707;
border-radius: 8px;
max-height: 120px;
}

/* Handle on hover */
.project-details-scrollbar::-webkit-scrollbar-thumb:hover {
background: #555;
}

.App{
    width: 100%;
}

.am-here{
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: #D1FD0A;
}

.bento-box{
    border-radius: 1.5rem;
    display: flex;
    padding: 1.75rem;
    position: relative;
    z-index: 20;
    overflow: hidden;
    transition: 0.6s border-color    ;
}



.bento-box img{
    position: absolute;
    border-radius: 1.5rem;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 1s scale;
    background-color: #070707;
}

.bento-box:hover{
    border-color: #d1fd0a;

}

.bento-2.bento-box img,.bento-4.bento-box img{
    object-fit: contain;
}


.bento-box-border{
    border: 2px solid #c7c7c7;   
}

.bento-2:hover>img,.bento-4:hover > img{
    scale: 0.85;
}
.bento-1:hover>img,.bento-3:hover > img{
    scale: 1.1;
}

.bento-box:hover .bento-tag{
    background-color: #d1fd0a;
    color: #070707;

}

.certificate-container img{
    height: 550px;
    transform: translateX(200px);
}

@keyframes pulseDown{
    from,
    to{
        scale: 1;
    }

    50%{
        scale: 0.8;
    }
}
@keyframes pulseUp{
    from,
    to{
        scale: 1;
    }

    50%{
        scale: 1.1;
    }
}

.bento-tag{
    border-radius: 1.5rem;
    border: 1px solid #d1fd0a;
    font-size: 1.4rem;
    color:#d1fd0a;
    font-family: 'sansation-light';
    padding: 0.5rem 1.5rem;
    transition: 0.4s background-color,0.4s color ;

}

.work-heading{
    background-image: linear-gradient( "to bottom", #fff , #333);
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
    color: transparent;
}
.p4 .proj-img-container img{
    max-height: 400px;
}
.proj-name{
    color: wheat;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.p1-h1{
    background-image: linear-gradient(to bottom, #fff, #555555);
}

.p1{
    color: #c7c7c7;

}

.p3-h1{
    background-image: linear-gradient(to bottom, #FDC28D, #503216);
}
.p3{
    color: #FDC28D;
}

.p4-h1{
    background-image: linear-gradient(to bottom, #75716a, #ffd387);
}
.p4{
    color:#Fadaa3;
}
.p4 img{
    scale: 1.25;
    margin-top: 7rem;
}
.p2-h1{
    background-image: linear-gradient(to bottom, #b582f0, #c59b42);
}

.p2{
    color: #d3c19b;

}
.p2 img{
    margin-top: 5rem;
}

  
.line-txt{
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.line-txt .line-heading{
    padding: 0 0;
}
  
.line-txt .text {
    letter-spacing: -.06em;
    line-height: 160%;
    margin: 0 50%;
    width: 100%;
    text-align: left;
    color: #b6b6b633;
    background: linear-gradient(to right, #b6b6b6, #b6b6b6) no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    background-size: 0%;
    transition: background-size cubic-bezier(.1,.5,.5,1) 0.5s;
    border-bottom: 1px solid #2F2B28;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  
.line-txt span {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #d1fd0a;
    color: #0D0D0D;
    text-align: center;

    


    clip-path: polygon(0 50%, 100% 50%, 100% 50%, 0 50%);
    transform-origin: center;

    transition: all cubic-bezier(.1,.5,.5,1) 0.4s;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
.line-txt .text:hover > span {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  
.line-txt a {
    text-decoration: none;
    color: inherit;
  }

.line-txt .line-heading{
    padding: 0 8%;
}


.proj-info h1{
    -webkit-text-stroke-width: 3.3px;
    -webkit-text-stroke-color: black;
}
.proj-info img{
    object-fit: cover;
}

.contact-form input{
    margin-top: 0.8rem;
    background: transparent;
    outline: none;
}



.tech-stack div{
    height: 100px;
    aspect-ratio: 1;
}

.bento-tag{
    border-radius: 1.5rem;
    border: 1px solid #d1fd0a;
    font-size: 1.4rem;
    color:#d1fd0a;
    font-family: 'sansation-light';
    padding: 0.5rem 1.5rem;
}

#custom-cursor{
    border-radius: 20px;    
    background-color: white;
    position: fixed;
    top: -1px;
    z-index: 999;
    pointer-events: none;
    opacity: 0;
    transition: opacity 500ms ease;
}

.App:hover > #custom-cursor{
    opacity: 1;
}

.contact-container{
    box-shadow: -5px -10px 100px #07070780;
}


@media (max-width: 600px) {
    .bento-tag{
        border-radius: 1.5rem;
        border: 1px solid #d1fd0a;
        font-size: .8rem;
        color:#d1fd0a;
        font-family: 'sansation-light';
        padding: 0.3rem 1rem;
    }
    .bento-box{
        padding: 0.8rem;
    }
    .bento-1{
        padding: 1.8rem 1rem 1rem ;
        gap: 1rem;
    }
    .tech-stack div{
        height: 70px;
    }
    .line-txt .text{
        line-height: 360%;

    }
    .certificate-container img{
        height: 350px;
        width: auto;

    }
    #custom-cursor{
        display: none;
    }
    .p2 img{
        margin-top: 0rem;
    }
    .line-txt .line-heading{
    padding: 0 2rem;
    }
}
  .am-here span{
    font-size:3rem ;
  }

  
.thumb-cover{
    background-color: #070707;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    height: 100%;
    
    

}

.input-field-container input{
    font-family: 'sansation';
    font-size: 1.2rem;
    
}
input:-webkit-autofill{
    -webkit-text-fill-color: yellow #fff;
    background-color: #070707;
}