@font-face {
    font-family: humane-black;
    src: url(../public/Humane-Black-BF657fc365849db.otf);
}

@font-face {
    font-family: sansation;
    src: url(../public/Sansation_Regular.ttf);
}
@font-face {
    font-family: sansation-light;
    src: url(../public/Sansation_Light.ttf);
}
/* .header{
    font-family: humane;
} */


@tailwind base;
@tailwind components;
@tailwind utilities;
